* {
  margin: 0;
  padding: 0;
  color: black;
  font-family:"Verdana, Geneva, Tahoma, sans-serif";
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, #root, .app-div {
  height: 100%; 
  background-color: #d5eeff;
}

a {
  text-decoration: none;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  background-color: #005689;
  padding: 40px;
  align-items: center;
  max-height: 40px;
  width: 100%;
}

.navbar-right {
  display: flex;
  gap: 20px;
}

.nav-link {
  text-decoration: none;
  border: 1px solid transparent;
  color:#d5eeff;
  background-color: transparent;
  font-family:"Verdana, Geneva, Tahoma, sans-serif";
  font-size: 15px;
  padding: 5px;
}

.nav-link:hover {
  border: 1px solid black;
  border-radius: 5px;
  cursor: grab;
}

.logo {
  font-size: 30px;
  font-weight: bold;
}

/* Home */
.home-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 50px;
  background-color: #d5eeff;
  height: 100%;
}

.home-link {
  text-decoration: underline;
}

.home-link:hover {
  color:#ff895d;
}

/* Post */
.post-div {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ff895d;
  box-shadow: 5px 5px 5px rgb(202, 204, 209);
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  height: 100%;
}

.post-image-text {
  flex-wrap: wrap;
}

.post-title, .post-link {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 20px;
}

.post-author-timestamp {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 15px;
}

.post-author {
  align-self: center;
  font-style: italic;
}

.post-link:hover {
  color: #005689;
  cursor:grab;
}

.post-text {
  margin-left: 20px;
  padding-bottom: 20px;
}

.post-image {
  max-height: 200px;
  object-fit: contain;
  float: left;
  margin: 10px;
}

.post-comments {
  padding: 20px 0px;
}

.commentToggle {
  color:#005689;
  cursor:grab;
}

hr {
  border-top: 1px dashed rgb(114, 113, 113);
}

/* Comment */
.comment-div {
  border-bottom: 1px solid lightgrey;
  margin: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.comment-header {
  margin: 20px 0px;
}

.comment-text {
  margin-bottom: 10px;
}

.comment-author-timestamp {
  display: flex;
  justify-content: space-between;
}

.comment-author {
  align-self: center;
}

.comment-timestamp, .post-timestamp {
  font-style: italic;
  font-size: 12px;
}

.comment-author, .comment-timestamp {
  color: rgb(109, 108, 108);
}

/* Comment Form */
.comment-form {
  display: flex;
  gap: 10px;
  margin:10px 5px;
  flex-direction: column;
  ;
}

.comment-form>textarea {
  padding: 5px;
  border-radius: 5px;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.comment-submit {
  align-self: flex-end;
}

/* Login and Signup Forms and divs*/
.login-form, .signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.login-div, .signup-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:bisque;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  gap: 20px;
  margin-top: 50px;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 10px 10px #d5eeff;
}

.login-form>input, .signup-form>input {
  padding: 5px;
  border-radius: 5px;
  border: none;
}

.submit-button {
  border: 0;
  background-color: white;
  font-size: 15px;
  border: 1px solid #005689;
  padding: 5px;
  border-radius: 5px;
}

.submit-button:hover {
  cursor: grab;
  color:#005689
}